@import 'modern-normalize/modern-normalize.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #3a3a3b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-dark-grey: #3a3a3b;
  --color-middle-grey: #717379;
  --color-grey: #9d96a6;
  --color-light-grey: #aaadae;
  --color-ultralight-grey: #ebdfff;
  --color-brown: #444243;
  --color-light-accent: #c8aeeb;
  --color-accent: #9a66df;
  --color-dark-accent: #8256b9;
  --color-ultradark-accent: #5a2c92;
}
